# Notebook Checkpoints
.ipynb_checkpoints/
.~lock*
pkdb_analysis.egg-info/
.idea/

__pycache__/
.pytest_cache

*.pyc
.env
.env.develop
.env.production
results/
dist/

pkdb_analysis/pkdb_analysis/reports/interactive/examples/results
