.ipynb_checkpoints/
.~lock*
src/pkdb_analysis.egg-info
.idea/

__pycache__/
.pytest_cache
*.pyc
.env
.env.develop
.env.production
results/
dist/
.eggs/
.tox
.coverage

# too large due to failing filters
src/pkdb_analysis/test/data/test.h5
src/pkdb_analysis/pkdb_analysis/reports/interactive/examples/results
